#skyscrapers {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

/** {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}*/

/*body {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    background: radial-gradient(#130a7b, #090329);
}*/

.skyscraper {
    height: 5px;
    width: 150px;
    padding: 3px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background: linear-gradient(170deg, #436c90, #233647);
    border-radius: 6px;
    box-shadow: 3px 6px 10px rgba(0, 0, 0, 0.3);
}

.gray {
    height: 5px;
    background: linear-gradient(170deg, #666, #666);
}

.blue {
    background: linear-gradient(170deg, #436c90, #233647);
}

/*.window {
    height: 20px;
    width: 20px;
    margin-right: 15px;
    background: -webkit-gradient(linear, right top, left bottom, color-stop(80%, #fffc00), to(white));
    background: linear-gradient(to bottom left, #fffc00 80%, white);
    border-radius: 3px;
    box-shadow: 0px 3px 6px rgba(255, 252, 0, 0.3);
    -webkit-animation: light 20s linear infinite;
    animation: light 20s linear infinite;
}*/
/*
.window:nth-child(3n) {
    margin-right: 0;
}

.window:nth-child(1) {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}

.window:nth-child(2) {
    -webkit-animation-delay: 10s;
    animation-delay: 10s;
}

.window:nth-child(3) {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.window:nth-child(4) {
    -webkit-animation-delay: 13s;
    animation-delay: 13s;
}

.window:nth-child(5) {
    -webkit-animation-delay: 7s;
    animation-delay: 7s;
}

.window:nth-child(6) {
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
}

.window:nth-child(7) {
    -webkit-animation-delay: 11s;
    animation-delay: 11s;
}

.window:nth-child(8) {
    -webkit-animation-delay: 13s;
    animation-delay: 13s;
}

.window:nth-child(9) {
    -webkit-animation-delay: 9s;
    animation-delay: 9s;
}

.window:nth-child(10) {
    -webkit-animation-delay: 9s;
    animation-delay: 9s;
}

.window:nth-child(11) {
    -webkit-animation-delay: 9s;
    animation-delay: 9s;
}

.window:nth-child(12) {
    -webkit-animation-delay: 13s;
    animation-delay: 13s;
}

.window:nth-child(13) {
    -webkit-animation-delay: 8s;
    animation-delay: 8s;
}

.window:nth-child(14) {
    -webkit-animation-delay: 9s;
    animation-delay: 9s;
}

.window:nth-child(15) {
    -webkit-animation-delay: 7s;
    animation-delay: 7s;
}*/

/*@-webkit-keyframes light {
    0%, 40% {
        background: -webkit-gradient(linear, right top, left bottom, color-stop(80%, #fffc00), to(white));
        background: linear-gradient(to bottom left, #fffc00 80%, white);
    }

    60%, 100% {
        background: -webkit-gradient(linear, right top, left bottom, color-stop(80%, #0e1320), to(#2d3d67));
        background: linear-gradient(to bottom left, #0e1320 80%, #2d3d67);
        box-shadow: none;
    }
}

@keyframes light {
    0%, 40% {
        background: -webkit-gradient(linear, right top, left bottom, color-stop(80%, #fffc00), to(white));
        background: linear-gradient(to bottom left, #fffc00 80%, white);
    }

    60%, 100% {
        background: -webkit-gradient(linear, right top, left bottom, color-stop(80%, #0e1320), to(#2d3d67));
        background: linear-gradient(to bottom left, #0e1320 80%, #2d3d67);
        box-shadow: none;
    }
}*/
